.vscode
.bac
.vs
*.o
*.pbi
*.cout
Obj
List
Exe
MDK_ARM
TASKING
Debug
Release
ipch
*.opensdf
*.sdf
*.filters
*.user
*.suo
*.sln
*.testsettings
*.vsmai
*.sfr
*.dep
*.ewd
nv_proto
template
documents
ui_*.h
settings
moc_*
rcc_*
obj_*
lib-vs*
ui_*
debug
release
obj
build
*.pyc
build_info.cpp
build_number.cpp
buildnumber.txt
